.flex-design{
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
}
.footer-background-color{
    background-color:#ec3237;
}

.flex-style{
    align-self:  flex-end
    
}